
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.scale {
    transition: transform 0.3s ease-in-out;
  }
  
.scale:hover {
    transform: scale(1.1);
  }
  
.txt{
font-family: 'poppins';
}